# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~

# Local
*.local
.env
.env.local

# Logs
*.log

# Node (caso futuramente vire monorepo no mesmo path)
node_modules/
dist/
.turbo/
.next/
